<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<style>
		ul{list-style-type:none;}
		a{text-decoration:none;}
		</style>
	</head>
	<body>
		<ul>
			<li>博客配置</li>
			<ul>
				<li><a href="conf.php?alt=conf" target="showframe">网站配置</a></li>
				<li><a href="fun.php" target="showframe">添加功能链接</a></li>
				<li><a href="funshow.php" target="showframe">管理功能链接</a></li>
				<li><a href="newword.php" target="showframe">写日记</a></li>
				<li><a href="notepadshow.php" target="showframe">日记管理</li>
				<li><a href="unset.php" target="showframe">退出后台</li>
			</ul>
		</ul>
	</body>
</html>